@use './breakpoints.scss' as *;

.section {
  // padding: 40px 0px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  // gap: 70px;
}

.centerFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;

  a {
    text-decoration: none;
  }
}

.orangeButton {
  background: #ea580c;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  height: 36.6px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    box-shadow: 0 6px 14px rgba(234, 88, 12, 0.25);
    transform: translateY(-1px);
  }

  p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }
}

.blueButton {
  background: #0393cf;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  height: 36.6px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    box-shadow: 0 6px 14px #0594d138;
    transform: translateY(-1px);
  }

  p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }
}

.hollowButton {
  width: fit-content;
  padding: 0 20px;
  height: 40.1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: none;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    box-shadow: 0 6px 14px #6b6b6b38;
    transform: translateY(-1px);
  }

  p,
  a {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
}

.darkBlueButton {
  background: #0f172a;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  height: 36.6px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    box-shadow: 0 6px 14px #141e3641;
    transform: translateY(-1px);
  }

  p,
  a {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
  }
}

.whitePath {
  path {
    stroke: #ffffff !important;
  }
}

.darkPath {
  path {
    stroke: #0f172a !important;
  }
}

.servicesDisplay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 20px;

  @include bp(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    gap: 50px;
  }

  .serviceItem {
    // width: 335.2px;
    width: 100%;
    height: fit-content;
    background: #ffffff;
    border: 0.8px solid #e5e9f0;
    box-shadow:
      0px 4px 6px -4px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;

    img {
      width: 100%;
      height: 250px;
      background: black;

      @include bp(lg) {
        height: 290px;
      }
    }

    h3 {
      font-family: var(--font-barlow);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: #0f172a;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #4b5563;
    }

    .serviceTextGap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 28px;
    }

    &:hover {
      box-shadow:
        0px 4px 6px -4px rgba(0, 0, 0, 0.2),
        0px 10px 15px -3px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
      scale: 1.01;
    }
  }
}

.serviceLearnMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  span {
    font-weight: 600;
    font-size: 14px;
    color: #0393cf;
  }
}

.infoGridWrapper {
  // margin: 35px 0;
  padding: 50px 0;
  display: flex;
  align-items: center;

  @include bp(lg) {
    background: #f8fafc;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e5e9f0;
    // margin: 35px 0;
    margin-top: 35px;
  }
}

.infoGridWrapperBorderBg {
  padding: 50px 0;
  display: flex;
  align-items: center;
  background: #f8fafc;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e5e9f0;
  border-top: 0px;

  @include bp(lg) {
    // margin: 35px 0;
    // margin-bottom: 35px;
  }
}

.tableBigger {
  @include bp(lg) {
    width: 60%;
  }
}

.tableSmaller {
  @include bp(lg) {
    width: 40%;
  }
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 0;
  padding: 0 26px;
  // margin: 70px 0 35px 0;

  @include bp(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 177px;
    padding: 0 100px;
    max-width: 1440px;
    margin-inline: auto;
    width: 100%;
  }

  .gridItem {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    @include bp(lg) {
      padding: 0;
    }

    .icon {
      min-width: 48px;
      height: 48px;
      background: rgba(2, 132, 199, 0.1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      font-family: var(--font-barlow);
      font-style: normal;
      font-weight: 700;
      font-size: 16.4px;
      color: #0f172a;
    }

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 11.2px;
      color: #4b5563;
    }
  }
}
